/* Baseline settings */
body {
    font: normal 100% 'Trebuchet MS', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Normalisation of box-model */
* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* Normalisation of headings and paragraphs */
h1, p {
    margin: 0 0 1em;
}

/* Re-usable module that centrally aligns element */
.container {
    margin: auto;
    max-width: 60em; /* 960px / 16px */
    padding: 1em;
}

/* 
Re-usable module that hides an element.

It could have been a modifier for the `results` class (e.g. results--hide)
But I opted to keep it as a seperate module as it's more likely to be reused if application grew in scope. 
*/
.hide {
    display: none;
}

/* Page specific theme styles... */
.widget {
    background-color: #FC3;
}

.widget__header {
    color: #930;
    font-size: 3em;
    margin-bottom: 0.3em;
    text-shadow: #FFF 1px 1px 2px;
}

.widget__input {
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
         -o-border-radius: 5px;
            border-radius: 5px;

    font-size: 0.9em;
    line-height: 1.3;
    padding: 0.4em 0.7em;
}

/* widget__input applies the main <input> styling and this is a modifier of that base styling */
.widget--amount {
    border: 1px solid #930;
}

/* widget__input applies the main <input> styling and this is a modifier of that base styling */
.widget--submit {
    background-color: #EEE;
    border: 0;
}

.results__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.results__list > li:before {
    content: '- ';
}